/*#menubar {
  background:  #009EDA ;
  border-style: groove;
}

table {
  /* display: flex; */
  /* justify-content: stretch;
  width: 100%;
}

th {
  min-height: 100%;
  width: 16%;
}

th:hover {
  color: black;
}*/
