/*#PrizeMoneyContainer {
    background-color: rgba(0, 0, 0, 0.40);
  border-color: black;
  border-width: medium;
  border-style: ridge;
  padding: 10px;
  display: flex;
}

.prizeMoneyDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prizeMoneyDisplay h1 {
  font-size: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgb(0, 176, 240);
  text-decoration: underline;
}

.prizeMoneyDisplay h1 center {

  font-size: 30px;
  color: white;
  font-weight: bolder;
}

.prizeMoneyDisplay h2 {
  font-size: 5px;

}

.prizeMoneyDisplay h2 a {
  color: white;
}

.prizeMoneyDisplay h2 a:hover{
  color:grey;
}*/
